.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: #8399d4;
}
.menu{
  display: flex;
  list-style: none;
}
.menu li{
  margin-left: 25px;
}